$yellow: rgb(188, 88, 1);


$blue:rgba(74, 140, 255, 1);
$white: white;
$purple: #361d32;
$grey: #cacaca;
$red:#F44336;
$DashbordBackground: #f6f7fb;

$breakpoint-xl-large: 1300px;
$breakpoint-large: 1024px;
$breakpoint-medium: 769px;
$breakpoint-small: 480px;
